<div id="app">
    <div class="container">
      <h2>Reservas Feitas</h2>
      <div class="reservas-list">
        <div class="reserva-item">
          <div class="reserva-info">
            <h3>Nome da Sala 1</h3>
            <p>Local: Local da Sala 1</p>
            <p>Data: 01/05/2024</p>
            <p>Hora Início: 09:00</p>
            <p>Hora Final: 12:00</p>
            <p>Responsável: Fulano de Tal</p>
          </div>
          <div class="reserva-image">
            <img src="sala1.jpg" alt="Foto da Sala 1">
          </div>
        </div>
        <div class="reserva-item">
          <div class="reserva-info">
            <h3>Nome da Sala 2</h3>
            <p>Local: Local da Sala 2</p>
            <p>Data: 02/05/2024</p>
            <p>Hora Início: 14:00</p>
            <p>Hora Final: 17:00</p>
            <p>Responsável: Ciclano de Tal</p>
          </div>
          <div class="reserva-image">
            <img src="sala2.jpg" alt="Foto da Sala 2">
          </div>
        </div>
      </div>
    </div>
  </div>