<div id="app">
    <div class="container">
      <form action="#" method="POST" class="cadastro-reserva-form" (ngSubmit)="create($event)">
        <h2>Cadastro de Reserva de Salas</h2>
        <div class="input-group">
          <label for="nome-sala">Nome da Sala</label>
          <input type="text" id="nome-sala" name="nome-sala" required [(ngModel)]="nomeSala">
        </div>
        <div class="input-group">
          <label for="foto-sala">Foto Ilustrativa da Sala</label>
          <input type="file" id="foto-sala" name="foto-sala" accept="image/*"  [(ngModel)]="foto" >
        </div>
        <div class="input-group">
          <label for="local-sala">Local da Sala</label>
          <input type="text" id="local-sala" name="local-sala" required  [(ngModel)]="local">
        </div>
        <div class="input-group">
          <label for="data-uso">Data de Uso</label>
          <input type="date" id="data-uso" name="data-uso" required  [(ngModel)]="data_uso">
        </div>
        <div class="input-group">
          <label for="hora-inicio">Hora Início do Uso</label>
          <input type="time" id="hora-inicio" name="hora-inicio" required  [(ngModel)]="hora_inicio">
        </div>
        <div class="input-group">
          <label for="hora-final">Hora Final do Uso</label>
          <input type="time" id="hora-final" name="hora-final" required  [(ngModel)]="hora_final">
        </div>
        <div class="input-group">
          <label for="responsavel-uso">Responsável pelo Uso</label>
          <input type="text" id="responsavel-uso" name="responsavel-uso" required  [(ngModel)]="responsavel">
        </div>
        <div class="input-group">
          <label for="motivo-uso">Motivo do Uso</label>
          <textarea id="motivo-uso" name="motivo-uso" rows="4" required  [(ngModel)]="motivo"></textarea>
        </div>
        <div class="input-group">
          <label for="info-geral">Informações em Geral</label>
          <textarea id="info-geral" name="info-geral" rows="4" required  [(ngModel)]="informacoes"></textarea>
        </div>
        <div class="input-group">
          <label for="convidados">Convidados</label>
          <input type="text" id="convidados" name="convidados"  [(ngModel)]="convidados">
        </div>
        <button type="submit">Cadastrar Reserva</button>
      </form>
    </div>
  </div>